.l-courses-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 4.5rem;
}

.l-courses-collection > * {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.l-courses-collection--mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .l-courses-collection {
        display: none;
    }

    .l-courses-collection--mobile {
        display: block;
        margin: 1rem 1rem 2rem 1rem;
    }

    .l-courses-collection--mobile > * {
        margin-bottom: 0.5rem;
    }
}