.l-courses-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 4.5rem;
}

.l-courses-collection > * {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}