.l-courses-collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem 4.5rem;
}

.l-courses-collection > * {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}