.article-primary .article-primary-media {
    width: 100%;
}

.article-primary .article-primary-details {
    margin-top: 2rem;
}

.article-primary .article-primary-details .article-primary-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}