.course-card {
    width: 30%;
    min-width: 260px;
    background-color: white;
}

.course-card .course-card-image {
    width: 100%;
    height: auto;
}

.course-card .course-card-details {
    padding: 1rem;
}

.course-card .course-card-details > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.course-card .course-card-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.course-card .course-card-tag {
    text-transform: uppercase;
}

.course-card .course-card-tag,
.course-card .course-card-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    opacity: 0.8;
}

.course-card-mobile {
    padding: 1.5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #d8d8d8;
}

.course-card-mobile:active {
    color: #ffffff;
    background-color: #2d2c2c;
}