.info-item {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-item:hover {
    background-color: #d8d8d8;
}

.info-item .info-item-image {
    width: 35%;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.info-item .info-item-image--mobile {
    display: none;
}

.info-item .info-item-details {
    width: 65%;
}

.info-item .info-item-details > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.info-item .info-item-details .info-item-header {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.info-item .info-item-details .info-item-text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.info-item .info-item-details .info-item-link {
    text-decoration: none;
    color: #1288E3;
}

.info-item .info-item-details .info-item-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    #thesis-list .info-item,
    .info-item .info-item-image {
        display: none;
    }

    .info-item {
        flex-direction: column;
    }

    .info-item:not(:last-child) {
        margin-bottom: 2rem;
    }

    .info-item .info-item-image--mobile {
        display: block;
        width: 100%;
    }

    .info-item .info-item-details {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}