.info-item {
    display: flex;
    align-items: center;
}

.info-item:hover {
    background-color: #d8d8d8;
}

.info-item .info-item-image {
    width: 35%;
    height: 100%;
    margin: 1rem;
}

.info-item .info-item-details {
    width: 65%;
}

.info-item .info-item-details > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.info-item .info-item-link {
    text-decoration: none;
    color: #1288E3;
}

.info-item .info-item-link:hover {
    text-decoration: underline;
}