.logo {
    display: flex;
    align-items: center;
    height: 2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-decoration: none;
    color: inherit;
}

.logo .logo-name {
    font-size: 1.25rem;
    text-transform: uppercase;
    white-space: nowrap;
    color: #000000;
    opacity: 0.6;
}

.logo .logo-name-primary {
    font-weight: 600;
    color: #000000;
}