.nav-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.nav-list .nav-list-item {
    margin-left: 1rem;
    font-size: inherit;
}

.nav-list .nav-list-item a {
    color: inherit;
    text-decoration: none;
}

.nav-list.nav-list--mobile {
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.nav-list.nav-list--mobile > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-list.nav-list--mobile .nav-list-image {
    height: 2rem;
}