.section.section--gray {
    background-color: #eaebec;
}

.section.section--dark-gray {
    background-color: #d8d8d8;
}

.section.section--light {
    background-color: #f3f5f5;
}

.section-header {
    text-align: center;
}