#banner.section {
    background-color: #d8d8d8;
}

#courses-list.section {
    background-color: #eaebec;
}

#information.section,
#thesis-list.section {
    background-color: #f3f5f5;
}

.section .section-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .section .section-header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}