.banner-info {
    padding-left: 1.25rem;
}

.banner-info > * {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.banner-info .banner-info-header {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.4;
}

.banner-info .banner-info-text {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4;
}

@media only screen and (max-width: 768px) {
    .banner-info {
        padding-left: 0;
    }

    .banner-info > * {
        width: 100%;
    }

    .banner-info .banner-info-header {
        font-size: 2rem;
    }
}