.btn {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #4A4A4A;
}

.btn:hover {
    background-color: #2d2c2c;
}