.footer {
    border-top: 1px solid lightgray;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 4rem;
    padding: 1rem 0;
    font-size: 0.8rem;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .footer {
        border-top: none;
    }

    .footer-content {
        height: auto;
    }

    .footer .nav {
        display: none;
    }
}