.main-info .main-info-media {
    width: 100%;
}

.main-info .main-info-details {
    margin-top: 2rem;
}

.main-info .main-info-details .main-info-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}