.nav-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
}

.nav-list .nav-list-item:not(:last-child){
    margin-right: 1rem;
    font-size: inherit;
}

.nav-list .nav-list-item:hover {
    text-decoration: underline;
}

.nav-list .nav-list-item a {
    color: inherit;
    text-decoration: none;
}

.nav-list .nav-list-image {
    height: 2rem;
}   

@media only screen and (max-width: 640px) {
    .nav-list {
        justify-content: space-between;
        align-items: center;
    }
}