.section.section--medium {
    background-color: #eaebec;
}

.section.section--dark {
    background-color: #d8d8d8;
}

.section.section--light {
    background-color: #f3f5f5;
}

.section .section-header {
    text-align: center;
}